{% extends 'layouts/main.html' %}
{% block title %}Aucune histoire à raconter{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Résultat (mais pas tout à fait...):</h1>
</div>
<body>
	<div class="container">
		<p class="lead">Malheureusement, je ne connais aucune histoire à ce propos...</p>
		<a href="/"><button id="backButton" class="btn btn-primary btn-lg active btn-lg active col-xs-6 col-xs-offset-2">Raconte moi une autre histoire alors !</button></a>
		</div>
	</div>
<body>

{% endblock %}